@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body, #root {
  width: 100%;
  min-height: 100%;
  background: #f5f0eb;
}

.gallery-card{
    position:relative;
    overflow:hidden;
    border-radius:18px;
    cursor:pointer;
    margin-bottom:20px;
}

.gallery-card img{
    display:block;
    width:100%;
    height:auto;
    object-fit:cover;
    border-radius:18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: auto;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.overlay{
    position:absolute;
    inset:0;

    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    padding:18px;

    background:linear-gradient(
        transparent 45%,
        rgba(0,0,0,.72)
    );

    opacity:0;
    transition:.25s;
}

.gallery-card:hover .overlay{
    opacity:1;
}

.overlay h3{
    color:#fff;
    font-size:18px;
    margin:0;
}

.overlay p{
    margin-top:4px;
    color:#ddd;
    font-size:14px;
}